{% extends "infos/block.html" %}


{% block "about" %}

   <h2>Contact</h2>
   
   <form action="" method="POST">
      {% csrf_token %}
      {{form.as_p}}
      <button type="submit">Send</button>
   </form>
   {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}
   <br>  <br>  <br>  <br>
  <p>If you have any questions or comments about the website please do not hesitate to contact us.</p>


{% endblock "about" %}