<div class="w-menu-follow">
              <span class="menu-follow-button icon i-social">Follow Us</span>
              <div class="menu-follow drop-down">
                <div class="menu-follow-social">
                  <h4 class="menu-nav-title">Follow MUO</h4>
                  <ul>
                    <li>
                      <a class="icon i-youtube" href="https://www.youtube.com/muotv" target="_blank"></a>
                    </li>
                    <li>
                      <a class="icon i-facebook" href="https://www.facebook.com/muo.official" target="_blank"></a>
                    </li>
                    <li>
                      <a class="icon i-instagram" href="https://www.instagram.com/muoofficial/" target="_blank"></a>
                    </li>
                    <li>
                      <a class="icon i-twitter" href="https://twitter.com/MUO_official" target="_blank"></a>
                    </li>
                    <li>
                      <a class="icon i-pinterest" href="https://www.pinterest.ca/muo_official/" target="_blank"></a>
                    </li>
                    <li>
                      <a class="icon i-feed" href="https://www.makeuseof.com/feed/" target="_blank"></a>
                    </li>
                    <li>
                      <a class="icon i-newspaper" href="https://www.makeuseof.com/subscribe/" target="_blank"></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <button id="js-search" class="header-search-btn icon i-search js-search-target"></button>