<div id="article-waypoint"></div>
  <a class="sentinel-article-nextArticle next-btn" data-content-id="883580" href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/{{nexta.subject}}/{{nexta.id}}">
  <div class="next-btn-img">
    <div class="bc-img responsive-img img-article-next-btn">
      <figure>
        <picture><!--[if IE 9]>
    <video style="display: none;"><![endif]-->
         <!--[if IE 9]></video><![endif]-->
         <img class="lazyloaded" alt="{{nexta.headline}}" src="{{nexta.image.url}}" srcset="" sizes="" width="1680" height="840"></picture>
      </figure>
    </div>
  </div>
  <div class="next-btn-text lines-trim">
    <div class="next-btn-text-title">
      {{nexta.headline}}
    </div>
  </div>
  <div class="next-btn-cta icon i-arrow-1">
    Read Next
  </div></a>
          