    <aside id="secondary" class="sidebar" role="complementary">
      <section class="sidebar-trending">
        <div class="section-header">
          <h3 class="section-title">On The Wire</h3>
        </div>
        <div class="sentinel-home-sidebarTop browse-grid col-1 clip-full">

          <article class="browse-clip item-1 js-content" data-content-id=":770276">
            <a class="bc-img-link" href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/{{wirea.subject}}/{{wirea.id}}">
            <div class="bc-img responsive-img img-sidebar-full">
              <figure>
                <picture><!--[if IE 9]>
            <video style="display: none;"><![endif]-->
                 <!--[if IE 9]></video><![endif]-->
                 <img class="lazyloaded" alt="most-popular-android-apps" src="{{wirea.image.url}}" srcset="" sizes="" width="1680" height="840"></picture>
              </figure>
            </div></a>
            <div class="bc-info">
              <div class="bc-listing-categories">
                <a class="bc-listing-categories-link" href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/{{wirea.subject}}">{{wirea.subject}}</a>
              </div>
              <h3 class="bc-title"><a href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/{{wirea.subject}}/{{wirea.id}}" class="bc-title-link" title="{{wirea.headline}}">{{wirea.headline}}</a></h3>
            </div>
          </article>

          {% for banner in zid1 %}
            {{banner.code|safe}}
          {% endfor %}
                    

        </div>
      </section>

      <section class="sidebar-sticky">
        <div class="section-header">
          <h3 class="section-title">Trending Now</h3>
        </div>
        <div class="sentinel-home-sidebarSticky browse-half clip-half">

          <article class="browse-clip item-1 js-content" data-content-id=":2010225">
            <a class="bc-img-link" href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/{{trend.subject}}/{{trend.id}}">
            <div class="bc-img responsive-img img-size-sidebar-sticky">
              <figure>
                <picture><!--[if IE 9]>
            <video style="display: none;"><![endif]-->
                 <!--[if IE 9]></video><![endif]-->
                 <img class="lazyloaded" alt="{{trend.headline}}" src="{{trend.image.url}}" srcset="" sizes="" width="1680" height="840"></picture>
              </figure>
            </div></a>
            <div class="bc-info">
              <h3 class="bc-title"><a href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/{{trend.subject}}/{{trend.id}}" class="bc-title-link" title="{{trend.headline}}">{{trend.headline}}</a></h3>
            </div>
          </article>
          {% for banner in zid2 %}
            {{banner.code|safe}}
          {% endfor %}

        </div>
      </section>
      
    </aside>